html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('rv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blackout-area {
    background-color: black;
    padding: 0.5em 1em;
}

.blackout-area.top-left {
    position: fixed;
    top: 1em;
    left: 1em;
}

.blackout-area.bottom-left {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

.blackout-container {
    position: fixed;
    bottom: 1em;
    right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.blackout-container .blackout-area {
    position: relative;
    margin-bottom: 0.5em;
}

.text {
    font-family: 'Chalet', sans-serif;
    font-size: 1.3em;
    margin: 0;
    display: inline-block;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.white-text {
    color: #FFFFFF;
}

.yellow-text {
    color: #b6b62a;
}

.orange-text {
    color: #c28410;
}

.green-text {
    color: #0fbe0f;
}

.blue-text {
    color: #4f86ad;
}


.red-text {
    color: #980a20;
}

.symbol-key {
    font-family: 'Chalet', sans-serif;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    color: #000000;
    transform: translateY(-0.1em);
}

.text-key {
    font-family: 'Chalet', sans-serif;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    color: #000000;
    transform: translateY(-0.1em);
    line-height: 1.4em;
}

.response-text {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 1em;
}

.result-text {
    font-family: 'Chalet', sans-serif;
    position: fixed;
    bottom: 2em;
    right: 1em;
    font-size: 1.3em;
}

.table-cell {
    min-width: 7em;
    padding: 0.1em;
    text-align: center;
    position: relative;
}

.progress-bar {
    width: 6em;
    height: 0.5em;
    background-color: #601856;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress {
    height: 100%;
    background-color: #c22faf;
    width: 0.0em;
}

.hide {
    display: none;
}
